{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset='UTF-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
   <meta name='robots' content='index, follow'>
   <meta name='author' content='Petro Pavliuk'>
   <meta name='description' content='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid atque enim soluta harum explicabo nam adipisci blanditiis autem quibusdam nulla!
      Consequatur aliquam quidem error sit natus nam accusamus excepturi consectetur.'>
   <meta property='og:title' content='Blogs' />
   <meta property='og:description' content='Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid atque enim soluta harum explicabo nam adipisci blanditiis autem quibusdam nulla!
      Consequatur aliquam quidem error sit natus nam accusamus excepturi consectetur.' />
   <meta property='og:type' content='website' />
   <meta property='og:url' content='' />
   <meta property='og:image' content='img/favicon/apple-touch-icon.webp' />
   <link rel="stylesheet" href="{% static 'css/normalize/normalize.css' %}">
   <link rel='stylesheet' href="{% static 'css/swiper-bundle.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
   <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
   <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
   <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
   <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="theme-color" content="#ffffff">
   <title>{% trans 'Log in as administrator' %}</title>
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-SV9ZE40ZLC"></script>
   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body style="margin-top: 40px;">
   <div class="overlay">
      <main class="main">
            <div class="container form-register__container">
               <div class="reservation">
                  <div class="reg_text">
                     <div class="title-big">{% trans 'Log in as administrator' %}</div>
                  </div>
                  <form action="{% url 'admin_login' %}" method="post" class="register_form" id="loginForm">
                     {% csrf_token %}
                     <div class="login__form-inputs" id="login_grid">
                        <div class="editfields">
                           <div class="subtitle-big edit">{% trans 'Enter your email or phone number' %}</div>
                           <input class="reservation__form-input text" type="text" name="email" placeholder="{% trans 'Email or Phone Number' %}">
                       </div>
                       <div class="editfields">
                        <div class="subtitle-big edit">{% trans 'Enter your password' %}</div>
                        <div class="reservation__form-input-passwords">
                          <input class="reservation__form-input text" type="password" name="password" id="password" placeholder="{% trans 'Password' %}">
                          <span id="togglePassword"><img class="password-toggle-login" src="{% static 'img/hide_show_passwords/show_password.png' %}"></span>
                        </div>
                        </div>
                      </div>
                     <div class="errors">
                        <p class="error-msg message" id="no_login" style="bottom: 25px;">{% trans 'Please enter your login' %}</p>
                        <p class="error-msg message" id="no_password" style="bottom: 25px;">{% trans 'Please enter a password' %}</p>
                           {% if no_user %}
                              <p class="error-msg message" id="no_user" style="display: block; bottom: 25px;">{% trans 'This user does not seem to exist' %}</p>
                           {% elif wrong_password %}
                              <p class="error-msg message" id="wrong_password" style="display: block; bottom: 25px;">{% trans 'Wrong login or password' %}</p>
                           {% elif not_admin_error %}
                           <p class="error-msg message" id="no_password" style="display: block; bottom: 25px;">{% trans 'You are not an administrator' %}</p>
                           {% elif activation_error %}
                           <p class="error-msg message" id="activation_error" style="display: block; bottom: 25px;">{% trans 'Activation error. Your account may not be activated yet.' %}
                              <a href="{% url 'send_activation_email' %}">{% trans 'Click here to activate' %}</a>
                          </p>
                           {% endif %}
                     </div>
                     <button class="reservation__form-btn subtitle-big" type="submit">{% trans 'Sign In' %}</button>
                  </form>
               </div>
            </div>
   </main>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
   <script src="{% static 'js/scrollAnimations.js' %}"></script>
   <script src="{% static 'js/login_correct.js' %}"></script>
   <script src="{% static 'js/main.min.js' %}"></script>
   <script src="{% static 'js/animations.js' %}"></script>
   <script src="{% static 'js/togglePassword.js' %}"></script>
</body>

</html>